html, body 
{
  height: 100%;
  margin: 0;
  padding: 0;
}
body
{
  //background-color:#DDDDDD;
  background-image: url("bg.png");
  background-repeat: repeat-x repeat-y;
}
#loginlogo
{
  background: url("head-back.png") repeat-x;
  width:100%;
  min-height:60px;
}
#navheader 
{
  
}
#footer
{
  background-image: url("foot-bg.png");
  background-repeat: repeat-y repeat-x;
  background-color: #aaaaaa;
}
#loginform
{
    margin-top: 18px;
    padding: 6px;
    color: #ffffff;
    font-size: 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: rgba(204,204,204,0.1);
    background-image: url("foot-bg.png");
    background-repeat: repeat-y repeat-x;

}
#loginsubmit
{
  background-color: #808080;
  color: white;
  border: 1px solid #505050;
  padding: 2px 8px 2px 8px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input, textarea, select
{
    border: 1px solid #999;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus
{
    background-color: #ffffe0;
}
input[type="text"], input[type="password"], textarea, select
{
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
textarea
{
  height:90px;
  width:98%;
  background-color:#DEDEDE;
}
input[type="submit"], input[type="button"]
{
    -webkit-appearance: none;
    background-color: #808080;
    color: white;
    border: 1px solid #505050;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="radio"], input[type="checkbox"]
{
    border: none;
}
#welcome
{
  height:80%;
  width: 100%;
}
li 
{
  list-style:none url('plus.png');
  margin:2px;
  font-size:20px;
}
#content-area
{ 
  width:1024px;
  background-image: url("foot-bg.png");
  background-repeat: repeat-y repeat-x;
  min-height: 100%;
  position: relative;
  margin:auto;
  clear:both;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top:2px;
  margin-bottom: 2px;
}
#head-nav-container
{
  width:100%;
  background-image: url("head-bg.png");
  background-repeat: repeat-y repeat-x;
  height:40px;
}
#head-nav
{
  width:1030px;
  min-height: 100%;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position:center;
  margin:auto;
  padding:auto;
  clear:both;
  text-align:left;
  font-weight:bold;
}
#head-nav a
{
  color:#BBBBBB;
}
#content-left
{
  width: 65%;
  float: left;
  //background-image: url("bg.png");
  //background-repeat: repeat-x repeat-y;
  background-color:#DDDDDD;
  margin: 10px;
  min-height:1000px;
  z-index:100;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
}
#content-right
{
  width: 29% ;
  color: #DDDDDD;
  //border: 2px solid #404040;
  float: right;
  background-image: url("foot-bg.png");
  background-repeat: repeat-x repeat-y;
  background-color:#DDDDDD;
  margin: 10px;
  min-height:1000px;
  z-index:100;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
}
#content-right .widget
{
  margin:auto;
  margin-top: 2px;
  margin-bottom: 10px;
  background-color: #DDDDDD;
  color: #202020;
  min-height: 50px;
  z-index:101;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
}
.talk
{
  margin:4px;
  background-image: url("foot-bg.png");
  background-repeat: repeat-x repeat-y;
  color: #DDDDDD;
  min-height: 50px;
  z-index:102;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
  min-height:110px;
}
.talk a
{
  color:#505050;
}
.talk .time
{
  font-size: small;
  text-align:right;
  //float:right;
}
.talk .proPic
{
  border:1px solid #808080;
  text-align:left;
  height:100px;
  width:100px;
  float:left;
}
.talk .name
{
  font-size:medium;
  text-align:left;
  position:relative;
  font-weight:bold;
}
.talk .container
{
  margin:2px;
  background-color: #DDDDDD;
  color: #202020;
  //min-height: 50px;
  z-index:104;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding:3px;
}
#proWid
{
  margin: 4px;
  text-align: center;
}
#proWid a
{
  color: #505050;
}
a
{
  color:#505050;
}